<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 margintop-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">Discalaimer</p>
                </div>
                <div class="panel-body">
                    <p>The prediction provided here is only a rough estimate of reality.</p>
                    <p>The prediction should not be totally relied on in trip planning. Flight delays depend about 65% on weather and largely on the airlines themselves and airports. A good percentage is also dependent on flight routes</p>
                    <p>From our analysis, using Naive Bayes only assures of 52.53% accuracy in using weather to predict flight delays. Weather on flight routes is also, to an extent, affects flight delays</p>
                </div>
            </div>
        </div>
    </div>
</div>
